@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
	color-scheme: light;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	background: #f6f3ec;
}
